---
import Section from "../Section.astro";

import {education} from "../../../cv.json"
---

<Section title="Educación">
    <ul>
        {
        education.map(
        ({ institution, area, startDate, endDate }) => {
            const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != "" ? new Date(endDate).getFullYear() : "Actual";
          const years = `${startYear} - ${endYear}`;
            return (
            <li>
                <h3>{area}</h3>
                <h4>{institution}</h4>
                <p>{years}</p>
            </li>
            );
            }
        )
        }
    </ul>
</Section>

<style>
    li {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
</style>